#game-container {
  width: 900px;
  height: 600px;
  background-color: #eee;
  position: relative;
  margin: auto;
  border: 2px solid black;
}
#left-wall, #right-wall {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: black;
}
#left-wall { left: 0; }
#right-wall { right: 0; }
